<form class="" action="/posts/new" method="post">
  <input type="text" name="post_title" required maxlength="100">
  <input type="text" name="post_body" required maxlength="280">
  <button type="submit" name="submit">Submit</button>
</form>
