.body-form, .container-fluid, .alert {
  margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

.navbar {
  margin-bottom: 1rem;
}

.post {
  margin-top: 1rem;
}

.delete-recipe, .edit-recipe {
  margin: 0.2rem;
}
