<form class="" action="/posts/new" method="post">
  <label for="post_title">Title: </label>
  <input type="text" name="post_title" required maxlength="100">
  <label for="post_body">Text: </label>
  <input type="text" name="post_body" required maxlength="280">
  <button type="submit" class="btn btn-primary btn-sm" name="submit">Submit</button>
</form>
